.home2 {
  margin: 10rem 10.25rem 10rem 10.25rem;
  position: relative;
  display: grid;
  grid-template-areas: 'web app'
                        "web graphic";

  row-gap: 1.5rem;
  column-gap: 1.87rem;
  grid-template-rows: 19.25rem 19.25rem;


  .webdesign, .appdesign, .graphicdesign {
    border-radius: 0.9375rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;

    &:hover:before {
      background: #E7816B;
      opacity: .6;
    }

    h1 {
      color: #FFF;
      font-family: Jost;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3rem; /* 120% */
      letter-spacing: 0.125rem;
    }
    p {
      color: #FFF;
      font-family: Jost;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.3125rem;
      text-transform: uppercase;
    }
  }
  .webdesign:before, .appdesign:before, .graphicdesign:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 65%);
    z-index: -1;
  }
  .webdesign {
    grid-area: web;
    background-image: url("/public/images/home/desktop/image-web-design-large.jpg");
  }
  .appdesign {
    grid-area: app;
    background-image: url("/public/images/home/desktop/image-app-design.jpg");
  }
  .graphicdesign {
    grid-area: graphic;
    background-image: url("/public/images/home/desktop/image-graphic-design.jpg");
  }
}

.bg-pattern1 {
  position: absolute;
  top: 670px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 62.875rem;
  height: 37.125rem;
  flex-shrink: 0;
  border-radius: 18.5625rem 18.5625rem 18.5625rem 0rem;
  opacity: 0.5023;
  background: #F1F3F5;
  z-index: -3;
}


@media screen and (max-width: 1200px) {
  .home2 {
    margin: 5rem 4rem;
  }
}
@media screen and (max-width: 1060px) {
  .bg-pattern1 {
    top: 900px;
  }

}
@media screen and (max-width: 800px) {
  .bg-pattern1 {
    top: 1100px;
  }
  .home2 {
    margin: 3rem 0;
    grid-template-areas: 'web'
                        "app"
                        'graphic';
    grid-template-rows: 12.5rem 12.5rem 12.5rem;

    .webdesign {
      background-image: url("/public/images/home/tablet/image-web-design.jpg");
    }
    .appdesign {
      background-image: url("/public/images/home/tablet/image-app-design.jpg");
    }
    .graphicdesign {
      background-image: url("/public/images/home/tablet/image-graphic-design.jpg");
    }
  }
}
@media only screen and (max-width: 500px) {
  .home2 {
    margin-bottom: 2rem;
    .webdesign {
      background-image: url("/public/images/home/mobile/image-web-design.jpg");
    }
    .appdesign {
      background-image: url("/public/images/home/mobile/image-app-design.jpg");
    }
    .graphicdesign {
      text-align: center;
      background-image: url("/public/images/home/mobile/image-graphic-design.jpg");
    }
  }
}