.header-designs {
  position: relative;
  text-align: center;
  margin: 0 10.31rem;
  padding: 4rem 2rem;
  overflow: hidden;

  h1 {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem; /* 100% */
    margin-bottom: 2rem;
  }
  p {
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    max-width: 25.625rem;
    margin: 0 auto;
  }


  .circle1, .circle2, .circle3, .circle4, .circle5 {
    position: absolute;
    width: 18.25rem;
    height: 18.25rem;
    flex-shrink: 0;
    border-radius: 18.25rem;
    opacity: 0.3089;
    z-index: -1;
  }
  .circle1 {
    top: -60%;
    right: 0;
    background: linear-gradient(135deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
  }
  .circle2 {
    top: -60%;
    right: 18.25rem;
    background: linear-gradient(260deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
  }
  .circle3 {
    top: -60%;
    right: 36.5rem;
    background: linear-gradient(0deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
  }
  .circle4 {
    top: 52%;
    right: 0;
    background: linear-gradient(180deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
  }
  .circle5 {
    top: 52%;
    right: 18.25rem;
    background: linear-gradient(260deg, rgba(93, 2, 2, 0.00) 0%, rgba(93, 2, 2, 0.50) 100%);
  }
}
.pattern-designs {
  position: absolute;
  left: 0;
  top: 15rem;
  width: 62.875rem;
  height: 37.125rem;
  flex-shrink: 0;
  border-radius: 18.5625rem 18.5625rem 18.5625rem 0rem;
  opacity: 0.5023;
  background: #F1F3F5;
  z-index: -3;
}

@media only screen and (max-width: 1200px) {
  .header-designs {
    margin: 0 4rem;
  }
}
@media only screen and (max-width: 800px) {
  .header-designs {
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .header-designs {
    margin: 0;
  }
}