::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1D1C1E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E7816B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}